
body {
	margin: 0;
	padding: 0;
}

a,.link {
	text-decoration: underline;
/* 	color: #88ba14; */
	cursor: pointer;
	border: 0;
	background: none;
}
a:hover, a:focus, .link:hover, .link:focus {
/* 	color: #558710; */
}

input {
    cursor: text;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

ul {
	list-style: none;
}
ul, p {
	padding: 0;
	margin: 0;
}

br, .br { clear: both; }

script, style {
	display: none !important;
}

/* Standards */
.w20  { width: 20px  !important; }
.w40  { width: 40px  !important; }
.w60  { width: 60px  !important; }
.w80  { width: 80px  !important; }
.w100 {	width: 100px !important; }
.w120 {	width: 120px !important; }
.w140 {	width: 140px !important; }
.w160 {	width: 160px !important; }
.w180 {	width: 180px !important; }
.w200 {	width: 200px !important; }
.w220 {	width: 220px !important; }
.w240 {	width: 240px !important; }
.w260 {	width: 260px !important; }
.w280 {	width: 280px !important; }
.w300 {	width: 300px !important; }
.w320 {	width: 320px !important; }
.w340 {	width: 340px !important; }
.w360 {	width: 360px !important; }
.w380 {	width: 380px !important; }
.w400 {	width: 400px !important; }
.w420 {	width: 420px !important; }
.w500 {	width: 500px !important; }
.w560 {	width: 560px !important; }

.wf {	width: 100% !important; }

.h20  {	height: 20px !important; }
.h25  {	height: 25px !important; }
.h35  {	height: 35px !important; }

.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }

.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }

.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb60 { margin-bottom: 60px !important; }

.ml0   { margin-left: 0 !important; }
.ml10  { margin-left: 10px !important; }
.ml20  { margin-left: 20px !important; }
.ml30  { margin-left: 30px !important; }
.ml40  { margin-left: 40px !important; }
.ml60  { margin-left: 60px !important; }
.ml80  { margin-left: 80px !important; }
.ml100 { margin-left: 100px !important; }
.ml120 { margin-left: 120px !important; }
.ml140 { margin-left: 140px !important; }

.tal { text-align: left !important; }
.tar { text-align: right !important; }
.tac { text-align: center !important; }
.toe { text-overflow: ellipsis !important; overflow: hidden; white-space: nowrap; }

.pr0  { padding-right: 0 !important; }
.pr10 { padding-right: 10px !important; }
.pb10 { padding-bottom: 10px !important; }

.pl0  { padding-left: 0 !important; }
.pl10 { padding-left: 10px !important; }
.pl20 { padding-left: 20px !important; }

.bl	{ display: block !important; }
.in	{ display: inline !important; }
.ib	{ display: inline-block !important; }

.fl	{ float: left !important; }
.fr	{ float: right !important; }
.pull-left	{ float: left !important; }
.pull-right	{ float: right !important; }

.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; }

.center { margin: auto; }
/*
.left {
	float: left;
}
.right {
	float: right;
}
.center, .center:hover, .center:focus {
	margin: auto;
	display: block;
}
*/

/* Layouts */

.hlayout {
	width:		100%;
	height:		35px;
	line-height:	35px;
	padding:	5px;/* Protect box shadow */
	display:	block;
/* 	overflow:	hidden; */
}
.hlayout .hlayout {
	width: auto;
	padding: 0;
}
.hlayout > * {
	display: block;
	float: left;
}
.hlayout label {
/* 	width:	180px; */
	width:	200px;
	height:	25px;/* .hlayout width - paddings */
	line-height:	25px;
/* 	padding:		0 10px 0 20px; */
/* 	font-size:		13px; */
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hlayout.h35 {
	line-height:	35px;
}
.hlayout label {
	height:			inherit;
	line-height:	inherit;
}
/* .hlayout.h35 label { */
/* 	height: 35px; */
/* 	line-height: 35px; */
/* } */


/** Inherit Color **/
.ic { color: inherit !important; }


p .icon21 {
	display: inline-block;
	vertical-align: middle;
}
