/configs/database.ini
/configs/environment.json
/instance.php
/.composer
/logs/*
node_modules/*
/store/*
/temp/*
vendor/*
composer.phar
.DS_Store
# But keep empty folder containing gitkeep & htaccess
!.gitkeep
!.htaccess
