<h2>Twig test</h2>
<p>
This page is using the Twig template engine by setting configuration.<br />
The new selected renderer is now the used one.<br />
The layout is a copy of the original with specific menus and the module template included.
</p>