RewriteEngine On

RewriteLog "/var/log/apache2/rewrite.log"
RewriteLogLevel 9

# Server engine rewriting
#RewriteRule ^index.php$ index.php?module=0&format=html [L,E=rewritten:1,QSA]

# For other requests, the module is variable, allow home.html, users-create.html, users-edit-u=5.html, api-listUsers.json
RewriteCond %{REQUEST_FILENAME} !^index.php$
RewriteRule ^([a-zA-Z0-9_]+)(?:\-([^\=\&\-]+))?(?:\-([^=\-]+=.+))?\.(.+)$ index.php?module=$1&format=$4&action=$2&$3 [L,E=rewritten:1,QSA]

ErrorDocument 400 /http_error-400.html
ErrorDocument 401 /http_error-401.html
ErrorDocument 402 /http_error-402.html
ErrorDocument 403 /http_error-403.html
ErrorDocument 404 /http_error-404.html
ErrorDocument 405 /http_error-405.html
ErrorDocument 406 /http_error-406.html
ErrorDocument 407 /http_error-407.html
ErrorDocument 408 /http_error-408.html
ErrorDocument 409 /http_error-409.html
ErrorDocument 410 /http_error-410.html
ErrorDocument 411 /http_error-411.html
ErrorDocument 412 /http_error-412.html
ErrorDocument 413 /http_error-413.html
ErrorDocument 414 /http_error-414.html
ErrorDocument 415 /http_error-415.html
ErrorDocument 416 /http_error-416.html
ErrorDocument 417 /http_error-417.html
ErrorDocument 418 /http_error-418.html
ErrorDocument 419 /http_error-419.html
ErrorDocument 420 /http_error-420.html
ErrorDocument 421 /http_error-421.html
ErrorDocument 422 /http_error-422.html
ErrorDocument 423 /http_error-423.html
ErrorDocument 424 /http_error-424.html
ErrorDocument 425 /http_error-425.html
ErrorDocument 426 /http_error-426.html
ErrorDocument 500 /http_error-500.html
ErrorDocument 501 /http_error-501.html
ErrorDocument 502 /http_error-502.html
ErrorDocument 503 /http_error-503.html
ErrorDocument 504 /http_error-504.html
ErrorDocument 505 /http_error-505.html
ErrorDocument 506 /http_error-506.html
ErrorDocument 507 /http_error-507.html
ErrorDocument 508 /http_error-508.html
ErrorDocument 509 /http_error-509.html
ErrorDocument 510 /http_error-510.html