/** Forum CSS **/

/* Global */

.login-btn {
/* 	padding: 4px 8px; */
}
.login-btn span {
	margin-left: 6px;
/* 	margin-right: 4px; */
}

.navbar-form * {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

input.search-query {
	width: 194px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}

footer {
	margin-top: 10px;
}
footer > .container {
	background-color: #F5F5F5;
	border-radius: 5px;
}

.credits {
	margin: 10px 0;
	text-align: center;
}

footer.fixed {
    width: 100%;
    bottom: 0;
    position: fixed;
	background-color: #F5F5F5;
}
footer.fixed > .container {
	border-radius: 0;
}
footer.fixed .credits {
	margin: 20px 0;
}

.icon-set {
	margin: auto 5px;
}


/* Forums Module */

.threadWrapper {
	padding: 9px 15px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

.threadWrapper > ul {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
}
.threadWrapper > ul > li {
	margin-bottom: 2px;
}
.threadWrapper li.read > a {
	color: black;
	opacity: 0.75;
}
.threadWrapper li.read .icon-eye-open {
	opacity: 0.5;
}
/* .threadWrapper li.read .icon-eye-open { */
/* 	opacity: 0.5; */
/* } */
/* .threadWrapper li.new { */
/* 	background-color: #D9EDF7; */
/* } */
.threadWrapper li.new, .threadWrapper li.new a {
	/*
	color: #00AA88;
	*/
	color: #000000;
}
/*
.threadWrapper > ul a:hover {
	line-height: 20px;
	line-height: 24px;
}
*/
.threadWrapper > ul > li {
	height: 24px;
	line-height: 24px;
	padding: 2px 10px;
	display: block;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
	background-color: #FFFFFF;
}
.threadWrapper > ul > li:hover {
	background-color: #0088CC;
}
.threadWrapper > ul > li a {
	height: 20px;
	display: inline-block;
}
.threadWrapper > ul > li:hover a {
	color: #FFFFFF;
}

.thread_infos {
	float: right;
	font-size: 12px;
}

.panel-title > a {
	display: inline-block;
	width: 100%;
}


/* Thread Module */

.postlist article {
	border: 1px solid #E5E5E5;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 10px;
}

article:first-child {
	background-color: #F8F8F8;
}
article .post_head {
	float: right;
	border: 1px solid #E5E5E5;
	border-top: 0;
	border-right: 0;
	padding: 5px 8px;
}
article:hover, article.active {
	border: 1px solid #0088CC;
}

.post_head {
	margin-left: 5px;
	margin-bottom: 5px;
}

.user_avatar {
	width: 140px;
	height: 140px;
	margin-bottom: 5px;
}

article .post_infos {
	width: 140px;
}
article .post_infos a {
	width: 100%;
	display: inline-block;
}

article .post_body {
	padding: 8px 15px;
}

