/** Common bootstrap modification **/

body {
/* 	padding-bottom: 40px; Cause issue, page height is too high */
	padding-top: 60px;
}

.container {
	clear: both;
}

#demotest {
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto 20px;
	max-width: 600px;
	padding: 19px 29px 29px;
}

#submitDemoTest {
	float: right;
}

form {
	margin: 0;
}

a, .btn {
	text-decoration: none;
}

/*
section {
	margin-top: 30px;
	padding-top: 30px;
}
*/

/** Global **/

.left {
	float: left;
}
.right {
	float: right;
}

/** Report Messages **/

.report {
	clear: both;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.report a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url("../images/icon-32-info.png");
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url("../images/icon-32-success.png");
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url("../images/icon-32-warning.png");
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url("../images/icon-32-error.png");
}
