/** Common bootstrap modification **/

body {
/* 	padding-bottom: 40px; Cause issue, page height is too high */
	padding-top: 60px;
}

.container {
	clear: both;
}

.navbar-brand {
/* 	padding: 0; */
	padding: 10px 15px;
	line-height: 30px;
}

.navbar-brand img {
	height: 100%;
/* 	padding: 15px; */
	width: auto;
	display: inline;
}

.navbar-brand span {
	margin-left: 4px;
	display: none;
}

#demotest {
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto 20px;
	max-width: 600px;
	padding: 19px 29px 29px;
}

#submitDemoTest {
	float: right;
}

form {
	margin: 0;
}

a, .btn {
	text-decoration: none;
}

/*
section {
	margin-top: 30px;
	padding-top: 30px;
}
*/

/** Global **/

.left {
	float: left;
}
.right {
	float: right;
}

/** Report Messages **/

.report {
	clear:	both;
    margin:	10px 0px;
    padding:	15px 10px 15px 10px;
/*     padding:	15px 10px 15px 50px; */
    border:	1px solid;
    background-repeat:	no-repeat;
    background-position:	10px center;
    
    position: relative;
    display: table;
}
.report .fa {
	float: left;
	font-size: 30px;
	margin-right: 10px;
}
.report .report-text {
	width:	100%;
	min-height:	32px;
	display:	table-cell;
	vertical-align:	middle;
}
.report a {
    font-weight:	bold;
    text-decoration:	underline;
    color:	inherit;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
