	<div class="fatalerror report report_global error">
		An error has occured, here is more informations:<br />
		Date: {{ date }}<br />
		Message: {{ message }}<br />
		Action: {{ action }}<br />
		Set the ERROR_LEVEL constant value to PROD_LEVEL in your constant file if you don't want to display errors.<br />
		Error reports are saved in logs in both cases.<br />
		<br />
	</div>